pipeline/pratica_03.json
{
	"name": "pratica_03",
	"properties": {
		"activities": [
			{
				"name": "listar tabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES \n  WHERE TABLE_TYPE='BASE TABLE'\n  and TABLE_SCHEMA = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_azure",
						"type": "DatasetReference",
						"parameters": {
							"p_esquema": "*",
							"p_tabela": "*"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop tabelas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "listar tabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('listar tabelas').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "database para parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_azure",
									"type": "DatasetReference",
									"parameters": {
										"p_esquema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"p_tabela": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_dls",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "raw",
										"p_diretorio": "parquet_table_SQL",
										"p_arquivo": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "hands_on_01"
		},
		"annotations": []
	}
}