pipeline/pratica_01.json
{
	"name": "pratica_01",
	"properties": {
		"activities": [
			{
				"name": "ler csvs",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_dls",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "transient",
							"p_diretorio": "diversos",
							"p_arquivo": "*.csv",
							"p_delimitador": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filtrar moviesDB",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ler csvs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ler csvs').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name,'moviesDB.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lista de csvs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filtrar moviesDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filtrar moviesDB').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "csv para parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_dls",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "transient",
										"p_diretorio": "diversos",
										"p_arquivo": {
											"value": "@item().name",
											"type": "Expression"
										},
										"p_delimitador": ";"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_dls",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "raw",
										"p_diretorio": "parquet",
										"p_arquivo": {
											"value": "@replace(item().name,'.csv','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "hands_on_01"
		},
		"annotations": []
	}
}